<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472047160751-n1q1m75aefbvffhbm00hgc5lgo4plqv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472047160751-n1q1m75aefbvffhbm00hgc5lgo4plqv7</string>
	<key>API_KEY</key>
	<string>AIzaSyBFnBdknBGLw4wdOm_SP5ZCi5LTrZDYPMk</string>
	<key>GCM_SENDER_ID</key>
	<string>472047160751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstSideProjectApp</string>
	<key>PROJECT_ID</key>
	<string>gdsc-sch-first-side-project</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-sch-first-side-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472047160751:ios:acdcc80520d2f973f1f35a</string>
</dict>
</plist>